Buatlah pemodelan machine learning dengan menerapkan pipeline yang mencakup
seluruh proses preprocessing data sebelum melakukan klasifikasi. Lakukan pelatihan menggunakan dua algoritma
berbeda, kemudian bandingkan performanya dan pilih algoritma terbaik untuk disimpan dalam format pickle.
Pastikan seluruh rangkaian proses termasuk laporan klasifikasi dari masing-masing model terdokumentasi lengkap
dalam file .ipynb.

Nama: Leony Sani Winata </br>
NIM: 2702224811 </br>
Kelas: LA09

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load dan memeriksa dataset.

In [2]:
df = pd.read_csv('ObesityDataSet1.csv')

Dataset:
- Gender = Laki-laki atau Wanita
- Age = Usia seseorang dalam tahun
- Height = Tinggi dalam meter
- Weight = Berat dalam kilogram
- family_history_with_overweight = Apakah orang tersebut memiliki riwayat keluarga dengan kelebihan
berat badan
- FAVC = Jika orang tersebut sering mengonsumsi makanan berkalori tinggi (ya/tidak)
- FCVC = Frekuensi konsumsi sayuran (skala dari 1 hingga 3)
- NCP = Jumlah makanan utama per hari
- CAEC = Frekuensi mengonsumsi makanan di antara waktu makan (Tidak pernah, Kadang-kadang,
Sering, Selalu)
- SMOKE = Apakah orang tersebut merokok (ya/tidak)
- CH2O = Asupan air harian (skala dari 1 hingga 3)
- SCC = Jika orang tersebut memantau asupan kalori mereka (ya/tidak)
- FAF = Frekuensi aktivitas fisik (skala dari 0 hingga 3)
- TUE = Waktu yang dihabiskan untuk menggunakan teknologi (skala dari 0 hingga 3)
- CALC = Frekuensi konsumsi alkohol (Tidak pernah, Kadang-kadang, Sering, Selalu)
- MTRANS = Moda transportasi utama (Mobil, Sepeda, Sepeda Motor, Transportasi Umum, Jalan Kaki)
- NObeyesedad = Tingkat obesitas (Insufficient Weight, Normal Weight, Overweight Level I, Overweight
Level II, Obesity Type I, Obesity Type II, Obesity Type III)

In [3]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Male,31,1.87,128.87,yes,yes,2.96,3.00,Sometimes,yes,1.28,no,0.90,1.875,Sometimes,Automobile,Obesity_Type_II
1,Female,18,1.59,40.00,yes,yes,2.00,1.00,Frequently,no,1.00,no,0.00,2.000,no,Public_Transportation,Insufficient_Weight
2,Female,44 years,1.59,77.00,yes,yes,2.00,3.00,Sometimes,no,2.81,no,0.00,0.000,Sometimes,Automobile,Obesity_Type_I
3,Male,31,1.68,102.00,yes,yes,2.94,2.14,Sometimes,no,1.25,no,1.18,0.778,no,Public_Transportation,Obesity_Type_II
4,Male,22,1.74,75.00,yes,yes,3.00,3.00,Frequently,no,1.00,no,1.00,0.000,no,Automobile,Normal_Weight

Memeriksa apakah ada null

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          1055 non-null   object
 1   Age                             1055 non-null   object
 2   Height                          1055 non-null   float64
 3   Weight                          1055 non-null   float64
 4   family_history_with_overweight  1055 non-null   object
 5   FAVC                            1055 non-null   object
 6   FCVC                            1055 non-null   float64
 7   NCP                             1055 non-null   float64
 8   CAEC                            1029 non-null   object
 9   SMOKE                           1055 non-null   object
 10  CH2O                            1055 non-null   float64
 11  SCC                             1055 non-null   object
 12  FAF                             1055 non-null   float64
 13  TUE                             1018 non-null   float64
 14  CALC                            1055 non-null   object
 15  MTRANS                          1055 non-null   object
 16  NObeyesdad                      1055 non-null   object
dtypes: float64(7), object(10)
memory usage: 140.2+ KB

Perbaiki/clean kolom age

In [5]:
import re
def clean_age(age):
    if isinstance(age, str):
        match = re.search(r'\d+', age)
        if match:
            return float(match.group())
    return age

df['Age'] = df['Age'].apply(clean_age)

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

Memeriksa apakah age ada null

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          1055 non-null   object
 1   Age                             1055 non-null   float64
 2   Height                          1055 non-null   float64
 3   Weight                          1055 non-null   float64
 4   family_history_with_overweight  1055 non-null   object
 5   FAVC                            1055 non-null   object
 6   FCVC                            1055 non-null   float64
 7   NCP                             1055 non-null   float64
 8   CAEC                            1029 non-null   object
 9   SMOKE                           1055 non-null   object
 10  CH2O                            1055 non-null   float64
 11  SCC                             1055 non-null   object
 12  FAF                             1055 non-null   float64
 13  TUE                             1018 non-null   float64
 14  CALC                            1055 non-null   object
 15  MTRANS                          1055 non-null   object
 16  NObeyesdad                      1055 non-null   object
dtypes: float64(8), object(9)
memory usage: 140.2+ KB

In [7]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Male,31.0,1.87,128.87,yes,yes,2.96,3.00,Sometimes,yes,1.28,no,0.90,1.875,Sometimes,Automobile,Obesity_Type_II
1,Female,18.0,1.59,40.00,yes,yes,2.00,1.00,Frequently,no,1.00,no,0.00,2.000,no,Public_Transportation,Insufficient_Weight
2,Female,44.0,1.59,77.00,yes,yes,2.00,3.00,Sometimes,no,2.81,no,0.00,0.000,Sometimes,Automobile,Obesity_Type_I
3,Male,31.0,1.68,102.00,yes,yes,2.94,2.14,Sometimes,no,1.25,no,1.18,0.778,no,Public_Transportation,Obesity_Type_II
4,Male,22.0,1.74,75.00,yes,yes,3.00,3.00,Frequently,no,1.00,no,1.00,0.000,no,Automobile,Normal_Weight

Mengisi null di CAEC dan TUE

In [8]:
df['CAEC'].fillna(df['CAEC'].mode()[0], inplace=True)
df['TUE'].fillna(df['TUE'].median(), inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_11288\2814106749.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CAEC'].fillna(df['CAEC'].mode()[0], inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_11288\2814106749.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TUE'].fillna(df['TUE'].median(), inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          1055 non-null   object
 1   Age                             1055 non-null   float64
 2   Height                          1055 non-null   float64
 3   Weight                          1055 non-null   float64
 4   family_history_with_overweight  1055 non-null   object
 5   FAVC                            1055 non-null   object
 6   FCVC                            1055 non-null   float64
 7   NCP                             1055 non-null   float64
 8   CAEC                            1055 non-null   object
 9   SMOKE                           1055 non-null   object
 10  CH2O                            1055 non-null   float64
 11  SCC                             1055 non-null   object
 12  FAF                             1055 non-null   float64
 13  TUE                             1055 non-null   float64
 14  CALC                            1055 non-null   object
 15  MTRANS                          1055 non-null   object
 16  NObeyesdad                      1055 non-null   object
dtypes: float64(8), object(9)
memory usage: 140.2+ KB

### Preprocessing dan Training

- Mengubah kolom bertipe kategorikal (object) menjadi angka menggunakan LabelEncoder.
- Memisahkan fitur dan target (NObeyesdad). Data dibagi menjadi training dan testing dengan rasio 80:20.

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
categorical_columns = df.select_dtypes(include='object').columns
for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

x = df.drop('NObeyesdad', axis=1)
y = df['NObeyesdad']

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42, stratify=y
)

Training model Random Forest dan XGBoost

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
rf = RandomForestClassifier(random_state=42)
rf.fit(x_train, y_train)
rf_preds = rf.predict(x_test)
rf_acc = accuracy_score(y_test, rf_preds)
print("Random Forest Accuracy:", rf_acc)
print("Random Forest Classification Report:\n", classification_report(y_test, rf_preds))

from xgboost import XGBClassifier
xgb = XGBClassifier(eval_metric='mlogloss')
xgb.fit(x_train, y_train)
xgb_preds = xgb.predict(x_test)
xgb_acc = accuracy_score(y_test, xgb_preds)
print("XGBoost Accuracy:", xgb_acc)
print("XGBoost Classification Report:\n", classification_report(y_test, xgb_preds))

Random Forest Accuracy: 0.943127962085308
Random Forest Classification Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98        27
           1       0.90      0.93      0.92        29
           2       0.92      1.00      0.96        35
           3       1.00      0.93      0.97        30
           4       1.00      1.00      1.00        32
           5       0.96      0.83      0.89        29
           6       0.87      0.90      0.88        29

    accuracy                           0.94       211
   macro avg       0.94      0.94      0.94       211
weighted avg       0.94      0.94      0.94       211

XGBoost Accuracy: 0.95260663507109
XGBoost Classification Report:
               precision    recall  f1-score   support

           0       0.90      1.00      0.95        27
           1       0.89      0.86      0.88        29
           2       0.94      0.97      0.96        35
           3       1.00      0.97      0.98        30
           4       1.00      1.00      1.00        32
           5       0.93      0.93      0.93        29
           6       1.00      0.93      0.96        29

    accuracy                           0.95       211
   macro avg       0.95      0.95      0.95       211
weighted avg       0.95      0.95      0.95       211

Model dengan akurasi lebih tinggi akan disimpan dengan pickle, agar bisa digunakan kembali saat deployment

In [16]:
import pickle
if rf_acc > xgb_acc:
    best_model = rf
else:
    best_model = xgb

with open('best_model.pkl', 'wb') as file:
    pickle.dump({
        'model': best_model,
        'encoders': label_encoders
    }, file)